@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root{
    --brand: #197278;
    --brand-dark: #283d3b;
    --brand-light: #edddd4;
    --brand-danger: #c44536;
    --brand-accent: #772e25;

    /* mappings for existing variable usage */
    --color-primary: var(--brand);
    --color-primary-dark: var(--brand-dark);
    --color-red-500: var(--brand-danger);
    --color-yellow-500: var(--brand-light);

    --sidebar: var(--brand) !important;
    --sidebar-accent-foreground: var(--brand-light) !important;
    --sidebar-accent: #283d3b23 !important;
}

.btn-edit {
    color: var(--brand-dark);
}

.btn-delete {
    color: var(--color-red-500);
}

.card {
    h2 {
        color: var(--brand-dark);
    }
}

.sidebar {
    * {
        color: var(--brand-light);
    }
}
